backend/docsn8n.json
{
  "name": "Document Index Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "index",
        "options": {}
      },
      "id": "0e298178-c69d-48b6-8ea0-6cffc95fbb4d",
      "name": "Webhook: Index Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        32
      ],
      "webhookId": "doc-index-main"
    },
    {
      "parameters": {
        "functionCode": "// 현재 아이템 기준\nconst item = $input.item;\n\n// binary 안에 뭐가 들어있는지 확인\nif (!item.binary || !item.binary.data) {\n  throw new Error(\n    'Binary \"data\"가 없습니다. binary keys = ' +\n    JSON.stringify(Object.keys(item.binary || {}))\n  );\n}\n\nconst bin = item.binary.data;\n\n// n8n/노드 버전에 따라 두 가지 케이스 처리\n// 1) binary.data 가 문자열(base64)\n// 2) binary.data.data 에 base64 문자열이 들어있는 객체\nlet base64;\n\nif (typeof bin === 'string') {\n  base64 = bin;\n} else if (typeof bin.data === 'string') {\n  base64 = bin.data;\n} else {\n  throw new Error(\n    'binary.data 에서 base64 문자열을 찾을 수 없습니다. 구조 = ' +\n    JSON.stringify(bin)\n  );\n}\n\n// base64 → UTF-8 텍스트로 변환\nconst text = Buffer.from(base64, 'base64').toString('utf8');\n\n// 아주 단순한 청킹 로직 (나중에 개선해도 됨)\nconst chunkSize = 1500;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push(text.slice(i, i + chunkSize));\n}\n\n// 각 청크를 다음 노드로 아이템 배열로 내보냄\nreturn chunks.map((c, idx) => ({\n  json: {\n    document_id: item.json.document_id,\n    user_id: item.json.user_id,\n    blob_path: item.json.blob_path,\n    mime_type: item.json.mime_type,\n    source: item.json.source,\n    title: item.json.title,\n    original_file_name: item.json.original_file_name,\n    chunk_id: idx,\n    total_chunks: chunks.length,\n    content: c,\n  },\n}));\n"
      },
      "id": "9192e57f-71f9-453c-8d15-92968aa5a588",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        224,
        32
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "48e13696-0602-4837-9660-b7fad379167b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        464,
        32
      ]
    },
    {
      "parameters": {
        "functionCode": "// Search 문서 빌드\nconst body = $json.body ?? $json;   // n8n 버전에 따라 body 밑에 있을 수도 있고 바로 올 수도 있어서\nconst emb =\n  body.data?.[0]?.embedding ||\n  $json.embedding ||\n  $json.output;\n\nreturn [{\n  value: [{\n    '@search.action': 'upload',\n    id: `${$json.document_id}_${$json.chunk_id}`,\n    document_id: $json.document_id,\n    user_id: $json.user_id,\n    content: $json.content,\n    chunk_id: $json.chunk_id,\n    source_path: $json.blob_path,\n    title: $json.title,\n    original_file_name: $json.original_file_name,\n    embedding: emb,\n  }],\n  total_chunks: $json.total_chunks,\n  document_id: $json.document_id,\n}];\n"
      },
      "id": "a5b5f17a-e05f-4e01-8da6-a17a8bc157bf",
      "name": "Build Search Doc",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        944,
        32
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $node[\"Load Azure Env\"].json.AZURE_SEARCH_ENDPOINT }}/indexes/{{ $node[\"Load Azure Env\"].json.AZURE_SEARCH_INDEX_NAME }}/docs/index?api-version=2023-11-01\n",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ { \"value\": $json.value } }}",
        "headerParametersJson": "={{ {\n  \"Content-Type\": \"application/json\",\n  \"api-key\": $node[\"Load Azure Env\"].json.AZURE_SEARCH_ADMIN_KEY\n} }}"
      },
      "id": "faeef446-e983-4e59-a873-34dffe3bbbcf",
      "name": "Azure Search Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1184,
        32
      ]
    },
    {
      "parameters": {
        "functionCode": "// 배치 종료 후 성공 콜백 payload\nreturn [{\n  document_id: $json.document_id || $items()[0].json.document_id,\n  status: 'processed',\n  chunk_count: $items()[0].json.total_chunks || 0,\n  error_message: null\n}];"
      },
      "id": "311ac741-4866-450f-80f9-c1279f91d1a0",
      "name": "Prep Callback Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        736,
        288
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $node[\"Load Azure Env\"].json.FASTAPI_CALLBACK_URL }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "document_id",
              "value": "={{$(\"Load Azure Env\").item.json.body.document_id}}"
            },
            {
              "name": "status",
              "value": "={{ $json.status ?? \"processed\" }}"
            },
            {
              "name": "chunk_count",
              "value": "={{ $json.chunk_count ?? $json.total_chunks ?? 0 }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error_message ?? null }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-Token",
              "value": "={{ $node[\"Load Azure Env\"].json.N8N_CALLBACK_TOKEN }}"
            }
          ]
        }
      },
      "id": "a62f6d58-3e57-436e-8102-b523a5d71ca3",
      "name": "HTTP Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1024,
        560
      ]
    },
    {
      "parameters": {},
      "id": "8dafdd59-67cc-4a90-b14f-a8efb6b6bfbf",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        224,
        464
      ]
    },
    {
      "parameters": {
        "functionCode": "const e = $json;\nreturn [{\n  document_id: e?.workflow?.lastNodeExecutedData?.document_id || '',\n  status: 'failed',\n  chunk_count: 0,\n  error_message: e?.message || 'indexing failed'\n}];"
      },
      "id": "88ca8514-8162-40a1-a09a-c28afbc1832a",
      "name": "Prep Callback Failure",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        464,
        464
      ]
    },
    {
      "parameters": {
        "resource": "blob",
        "operation": "get",
        "container": {
          "__rl": true,
          "value": "user-docs",
          "mode": "list",
          "cachedResultName": "user-docs"
        },
        "blob": {
          "__rl": true,
          "value": "={{ $json.body.blob_path }}",
          "mode": "id"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        32,
        32
      ],
      "id": "cda89d4a-a57c-4c42-91cd-a40a253a3aae",
      "name": "Get blob",
      "credentials": {
        "azureStorageSharedKeyApi": {
          "id": "SOPcVMVRCh2sXh9m",
          "name": "Azure Storage account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 들어온 body 유지하면서 env 값만 덧붙이기\nreturn [\n  {\n    ...$json,\n    AZURE_OPENAI_ENDPOINT: $env.AZURE_OPENAI_ENDPOINT,\n    AZURE_OPENAI_EMBED_DEPLOYMENT: $env.AZURE_OPENAI_EMBED_DEPLOYMENT,\n    AZURE_OPENAI_API_KEY: $env.AZURE_OPENAI_API_KEY,\n    AZURE_SEARCH_ENDPOINT: $env.AZURE_SEARCH_ENDPOINT,\n    AZURE_SEARCH_INDEX_NAME: $env.AZURE_SEARCH_INDEX_NAME,\n    AZURE_SEARCH_ADMIN_KEY: $env.AZURE_SEARCH_ADMIN_KEY,\n    FASTAPI_CALLBACK_URL: $env.FASTAPI_CALLBACK_URL,\n    N8N_CALLBACK_TOKEN: $env.N8N_CALLBACK_TOKEN,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        32
      ],
      "id": "7c0197e5-95a9-490b-b4e3-6b68d77f7e65",
      "name": "Load Azure Env"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $node[\"Load Azure Env\"].json.FASTAPI_CALLBACK_URL }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "document_id",
              "value": "={{ $json.document_id || $items(0).json.document_id || '' }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status || 'failed' }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error_message || 'indexing failed' }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-Token",
              "value": "={{ $node[\"Load Azure Env\"].json.N8N_CALLBACK_TOKEN }}"
            }
          ]
        }
      },
      "id": "a26498b8-e7f3-4c75-94a1-8339efc30f27",
      "name": "HTTP Callback Failur2e",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        672
      ],
      "disabled": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{ $node[\"Load Azure Env\"].json.FASTAPI_CALLBACK_URL }}",
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "document_id",
              "value": "={{ $node[\"Webhook: Index Trigger\"].json.body.document_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status || 'failed' }}"
            },
            {
              "name": "chunk_count",
              "value": "={{ $json.chunk_count || 0 }}"
            },
            {
              "name": "error_message",
              "value": "={{ $json.error_message || $json.error || $json.message || '' }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-Token",
              "value": "={{ $node[\"Load Azure Env\"].json.N8N_CALLBACK_TOKEN }}"
            }
          ]
        }
      },
      "id": "cfd67d8b-4ed9-4d06-99cf-e55a673e394a",
      "name": "HTTP Callback Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        688,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{    $node[\"Load Azure Env\"].json.AZURE_OPENAI_ENDPOINT   + '/openai/deployments/'   + $node[\"Load Azure Env\"].json.AZURE_OPENAI_EMBED_DEPLOYMENT   + '/embeddings?api-version=2024-02-15-preview' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "={{ $node[\"Load Azure Env\"].json.AZURE_OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{$json.content}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        32
      ],
      "id": "0100c29a-e9d2-4d78-ad43-aa9f61bf5376",
      "name": "Azure OpenAI Embedding"
    }
  ],
  "pinData": {},
  "connections": {
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Prep Callback Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Azure OpenAI Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Doc": {
      "main": [
        [
          {
            "node": "Azure Search Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Search Upsert": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Callback Success": {
      "main": [
        [
          {
            "node": "HTTP Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Error": {
      "main": [
        [
          {
            "node": "Prep Callback Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Callback Failure": {
      "main": [
        [
          {
            "node": "HTTP Callback Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Index Trigger": {
      "main": [
        [
          {
            "node": "Load Azure Env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get blob": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Azure Env": {
      "main": [
        [
          {
            "node": "Get blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Embedding": {
      "main": [
        [
          {
            "node": "Build Search Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9cf8e79-146e-49c1-9e04-1a18ce5c4f49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b2e698a6cb08832c089f902963a48481442aeab5d78685b018c7656b7bde0e3"
  },
  "id": "Au1pFRiLzXmDG7MC",
  "tags": []
}